/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-feb-2016, 23:16:33
    Author     : Nicolas Ramoudt
*/

html{}

ul, li, h1, h2, h3, h4, h5, h6,p, figure, img, a, span {
    margin:0px;
    padding:0px;
}

* {
    box-sizing: border-box;
}

.row:after {       /* Insert below content after each row class element... */
    content: "";   /* ... and style the content */
    clear: both;   /* No floating elements allowed on the L and R side */
    display: block;
}

[class*="col-"] {
    float: left;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/*********************************/
/* TEMPLATE CONTAINER CODE START */
.outer-container {
    position: relative;
    z-index: 0;          /* onderste laag */
}

.inner-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;     /* zo breed en zo hoog als de .outer-container zetten! */
    width: 100%;
    height: 100%;
}

.inner-row, .inner-content {
    height: 100%;
}

.image-or-text-container {
    position: relative;
    height: 100%;
}

/* WARNING WARNING WARNING */
/* THIS MIGHT F**K UP THE COMPLETE DESIGN, was not inside first !! */
.image-or-text-container figure{
    position:absolute;
    width: 100%;
    height:100%;
}
.image-or-text-container figure img{
    position:absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%, -50%);
}
/* END WARNING END WARNING */

/* Text horizontaal & verticaal centreren binnen elke blok */
.text-vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);/* Zorgt ervoor dat die ten allen tijde in het midden wordt gepositioneerd, pakt 50% van het tekentje in img */
    z-index: 1;
}
/* Outer container tot text-vertical-center is perfect herbruikbaar  */
/* EINDE TEMPLATE CONTAINER CODE */
/*********************************/

/* VUL HIER JE EIGEN CODE IN */
/* Outer Container heights */
.top-bar {
    height: 38px;
}

.top-bar2 {
    height: 128px;
}

.top-bar3 {
    /* height: auto;  /* Werkte goed voor statisch.  Ipv vaste hoogte blok, auto zetten waardoor deze DIV
    mee zal herschalen met de viewport bij responsieve IMG */
    /* fallback */
    height: 692px;
    
    /* responsive */
    max-height: 692px;
    height: 48.1vw;
    
}

.customer-says {
    height: auto;
}

.body-bar {
    height: 230px;
}

.title-bar {
    height: 133px;
}

.summer-collection-row1 {
    height: 750px;
}

.ourbrand1 #first {
    margin-left: 52.5%;
    padding-right: 52.083%;
}

.ourbrand1 figure img {
    position: static;
    max-width: 125px;
    width: 100%;
    transform: translate(0);
}

.ourbrand2 figure {
    padding-left: 38.33%;
    padding-right: 11.25%;
    
}

.ourbrand2 figure img {
    position: static;
    max-width: 119px;
    width: 100%;
    transform: translate(0);
}

.ourbrand3 figure {
    padding-left: 25.83%;
    padding-right: 12.92%;
}

.ourbrand3 figure img {
    position: static;
    max-width: 147px;
    width: 100%;
    transform: translate(0);
}

.ourbrand4 figure {
    padding-left: 16.67%;
    padding-right: 22.92%;
}

.ourbrand4 figure img {
    position: static;
    max-width: 144px;
    width: 100%;
    transform: translate(0);
}

.ourbrand5 figure {
    padding-left: 10.83%;
    padding-right: 44.58%;
}

.ourbrand5 figure img {
    position: static;
    max-width: 105px;
    width: 100%;
    transform: translate(0);
}

.ourbrand6 figure {
    margin-left: -15.83%;
    padding-right: 20.42%;
}

.ourbrand6 figure img {
    position: static;
    max-width: 151px;
    width: 100%;
    transform: translate(0);
}

.ourbrand-content figure {
    margin-top: 25%;
    transform: translate(0,25%);    
}

.ourbrand-content figure img {
    transform: translate(0,-50%);
}

.ourbrand {
    height: 262px;
}

.ourbrand figure img {
    display: block;
}

/* Inner Row Data */
.top-bar-row {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
}

.summer-collection-row {
    height: 366px;
}

.accountmenu {
    height: 38px;
    margin-top: auto;
    margin-bottom: auto;
}

.accountmenu ul {
    list-style-type: none;
    float: right;
    padding-right: 0px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.accountmenu ul li {
    width: 140px;
    text-align: center;
    display: inline-block;
    height: 12px;
    width: 140px;
    border-right: 1px solid black;
}

.accountmenu ul li:last-child {
    border-right: none;
}

.accountmenu ul li a {
    text-decoration: none;
    color: #393939;
}

.accountmenu ul li a:hover {
    color: #f2f2f2;
    background-color: #393939;
}

.telephone {
    height: 38px;
    padding-left: 6%;
}

.telephone figure img {
    left: 1.04%;
}

#call {
    float: left;
    padding-left: 14px;
    
}

#call p {
    line-height: 38px;
    margin-top: auto;
    margin-bottom: auto;
}

.mainmenu ul {
    list-style-type: none;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    padding-top: 48px;
    padding-left: 14%;
    width: 100%;
}

.mainmenu ul li {
    display: inline-block;
    padding-right: 4%;
}

.mainmenu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;    
}

.mainmenu ul li a:hover {
    font-weight: normal;
}

.logo figure {
    padding-top: 30px;
}

.logo figure img {
    max-width: 229px;
    min-width: 185px;
    width: 100%;
    padding-left: 15.7%;
}

/* social media buttons staan opzettelijk NIET responsief */
/* komt zo mooier uit ... */

.social-container {
    position: absolute;
    height: 34px;
    /* background-color: darkgoldenrod; /* TEMP */ 
    display: inline-block;
    top: 50%;
    left: 13.33%;
    margin-right: -50%;
    transform: translate(0, -50%);
}

.social-container figure {
    position: static;
    float: left;
    height: 34px;
    width: 46px;
    padding-right: 12px;
}

.social-container figure img {
    position: static;
    transform: translate(0);
    margin: 0;    
}

.currencycolumn {
    padding-top: 44px;
    margin-left: -44px;;
}

#currencylbl {

}

#currencybtn {
    width: 90px;
    height: 35px;
    color: #ffffff;
    background-color: #000000;
    padding-left: 10px;
    /* padding-top: 20px; */
}

.promo-slider {
    width: 100%;
    height: 100%;
}

.promo-slider figure {  /* TE HERBEKIJKEN !! */
    z-index: 0;
}

.promo-slider figure img {  /* Voor verplaatsing */
    width: 100%;
    height: auto;
}

.top-bar3 figure img {  /* NA verplaatsing */
    display: block;  /* img is standaard display inline, omzet in block dient om dat 5px lijntje onderaan weg te prutsen */
    width: 100%;
    height: auto;
}

/* START SLIDESHOW */

#slideshow {
    /* fallback */
    width: 1440px;
    height: 692px;
    
    /* responsive */
    max-width: 1440px;
    max-height: 692px;
    width: 100vw;
    height: 50vw;    
    
    overflow: hidden; /* al 't gene dat hij van foto erbuiten zou zetten->hidden */
    margin: 0;
}

#slideshow ul {
    width: 4320px;
    list-style: none;
}

#slideshow ul li {
    float: left;
}

#slideshow-nav {
    position: absolute;
    width: auto;
    margin: 0; /* margin: top-right-bottom-left (centreren op je scherm + duw geven) */
    top: 640px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

#slideshow-nav ul {
    list-style: none;
}

#slideshow-nav ul li {
    
    width: 13px;
    height: 13px;
    display: block;
    float: left;  
    padding-right: 20px;
}
   
#slideshow-nav ul li a {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #b2b2b2;
    transform: rotate(45deg);    
    text-indent: -9999px;      
}

#slideshow-nav ul li a:hover, #slideshow-nav ul li a.active {   /* BEWARE: .active is javascript class ipv html class!!! zie custom-script */
    background: #000;
}

/* zorg dat de hoogte van de img effectief deze dimenties heeft */
#slideshow ul li img {
    /* fallback */
    height: 692px;
    width: 1440px;
    
    /* responsive */
    max-height: 692px;
    max-width: 1440px;
    width: 100vw;
    height: 48.1vw;
}

/* END SLIDESHOW */

.bottom-bar {
    height: 447px;
    background-color: #141414;
}

.bottom-bar2 {
    height: 206px;
    background-color: #141414;
}

.customer-says figure img {
    display: block;  /* img is standaard display inline, omzet in block dient om dat 5px lijntje onderaan weg te prutsen */
    width: 100%;
    height: auto;
}

.shopnowbutton {
    max-width: 189px;
    max-height: 53px;
    width: 13.19vw;
    height: 5vw;    
    position: absolute;
    z-index: 1;
    top: 70%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2vmin;
    color: #ffffff;
    background-color: #f09d66;
    border: 0px;
}

.shopnowbutton:hover {
    background-color: #ffffff;
    color: #f09d66;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s;
    cursor: pointer;
}

.promo-block-content  {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    color: #fff;
}

.promo-block-content p span {
    text-align: left;
    font-size: 2em;
}

.promo-block-content p {
    text-align: left;
    font-size: 1em;
}

.promo-bar-left .promo-block-content {
    left: 55.5%;
}

.promo-bar-middle .promo-block-content {
    left: 53.54%;
}

.promo-bar-right .promo-block-content {
    left: 42.5%;
}

.promo-bar-left figure img {
    left: 26.25%
}

.promo-bar-middle figure img {
    left: 20.83%;
}

.promo-bar-right figure img {
    left: 13.75%;
}

#top-part-left-block {
    position: absolute;
    width: 89.79%;    
    border-bottom: 50px solid #d9bf8f;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    margin-left: 15.625%;    
}

.body-bar-arrow-top {
    top: 66px;
}

.body-bar-arrow-bottom {
    top: 114px;
}

#bottom-part-left-block {
    position: absolute;
    width: 89.79%;
    border-top: 50px solid #d9bf8f;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    margin-left: 15.625%;    
}

#top-part-middle-block {
    position: absolute;
    width: 92.5%;    
    border-top: 50px solid #000000;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    margin-left: 3.375%;
}

#bottom-part-middle-block {
    position: absolute;
    width: 92.5%;
    border-bottom: 50px solid #000000;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    margin-left: 3.375%;    
}

#top-part-right-block {
    position: absolute;
    width: 90%;
    border-bottom: 50px solid #d9bf8f;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    margin-left: -5.625%
}

#bottom-part-right-block {
    position: absolute;
    width: 90%;
    border-top: 50px solid #d9bf8f;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    margin-left: -5.625%;
}

h1 {
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    padding-left: 90px;
    padding-right: 90px;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 5px;    
}

.head1-container-line-dark {
    position: absolute;
    width: 89.58%;
    top: 53px;
    border-top-style: solid;
    border-width: thick;
    border-color: #eaeaea;/* final color */
    z-index: 0;
    margin-left: 5.14%;
}

.new-head1-container-line-dark {
    position: absolute;
    margin-left: 5%;
    width: 89.58%;
    top: 66px;
    border-color: #eaeaea;
    border-style: solid;
    border-width: thin;

}

.new-head1-container-line-light {
    position: absolute;
    max-width: 500px;
    width: 100%;
    border-color: #fff;    
    border-style: solid;    
    border-width: thin;
    top: 66px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.left-diamond, .right-diamond {
    z-index: 2;
}

.left-diamond img {
    padding-left: 346px;
}

.right-diamond img {
    padding-right: 346px;
}

.new-head1-content {
    z-index: 2;
}

.head1-container-line-light {
    position: absolute;
    margin: 0 auto;
    border-top-style: solid; 
    border-width: thin;
    border-color: #fbfbfb;
    width: 500px;
    max-width: 500px;
    top: 53px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.head1-container {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    height: inherit;
    width: 500px;
}

head1-container2 {
    position: relative;
}

.head1-content {
    position: absolute;
    z-index: 3
}

.head1-content figure, .head1-content h1 {
    float: left;
}

 .handpicked-col2 {
    margin-top: -1px;
}

.handpicked-col1 .bottom, .handpicked-col3 .bottom { 
    padding-top: 15px;    
}

.handpicked-col1-container figure {
    position: static;
}

.handpicked-col1-container {
    position: absolute;
    left: 0;
    top: 0;    
    height: 100%;
    width: 100%;
}

.handpicked-col2 figure {
    top: 0;
    width: auto;
    height: auto;
    padding-left: 1.46%;
    padding-right: 1.875%;
}

.handpicked-col1 figure {
    width: auto;
    height: auto;
    padding-left: 14.79%;
    padding-right: 1.67%;        
}

.handpicked-col3 figure {
    width: auto;
    height: auto;
    padding-left: 1.458%;
    padding-right: 15%;        
}

.handpicked-col1 figure img, .handpicked-col3 figure img {
    position: static;
    max-width: 400px;
    width: 100%;
    transform: translate(0);
    display: block;
}

.handpicked-col2 figure img {
    position: static;
    max-width: 460px;
    width: 100%;
    transform: translate(0);
    display: block;    
}

.handpickshopbutton {
    top: 35.96%;
    transform: translate(-50%,0);    
    width: 109px;
    height: 42px;
    font-size: 1.2vmin;    
}

/* start experimenteel */

.new-summercollection-kader {
    max-width: 89.58%;
    border-style: solid;
    border-width: 2px;
    border-color: #eaeaea;
    margin-left: 4.8611%;    
    padding: 3%;
}

.new-summercollection-kader {
    /* fallback code */
    height: 740px;
    
    /* responsive */
    height: 52vw; /* Hoogte t.o.v. viewport ipv. procenten t.o.v. parent */
                  /* Dit blijkt 10x beter te werken dan al de rest... */
    max-height: 740px;
}

.new-summercollection-outer-container {
    height: 60vw;
    max-height: 814px;
    width: 100%;
}

.column1, .column2, .column3, .column4 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.column1 .row1, .column2 .row1, .column3 .row1, .column4 .row1 {
    padding-top: 17px;
    padding-bottom: 16px;
}

.new-summcollection-inner-row {
    height: 100%;
}

.new-summercollection-col1 figure, .new-summercollection-col2 figure, .new-summercollection-col3 figure, .new-summercollection-col4 figure {
    position: static;
    height: auto;
}

.new-summercollection-col1 figure {
    margin-left: 6.94444444444444%;
    padding-left: 16.66666666666667%;
    padding-right: 0;
}

.new-summercollection-col2 figure {
    padding-left: 12.77777777777778%;
    padding-right: 3.611111111111111%;
}

.new-summercollection-col3 figure {
    padding-left: 1.111111111111111%;
    padding-right: 15.27777777777778%;
}

.new-summercollection-col4 figure {
    margin-left: -10.27777777777778%;
    padding-right: 16.38888888888889%;
}

.new-summercollection-col1 figure img, .new-summercollection-col2 figure img, .new-summercollection-col3 figure img, .new-summercollection-col4 figure img {
    position: static;
    transform: translate(0);
    max-width: 300px;
    width: 100%;
    max-height: 345px;    
    display: block;    
}

.add2cart-block {
    position: absolute;
    z-index: 5;
    height: 50px;
    border-bottom: 40px solid #000000;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 54.72222222222222%;
}

.add2cart-block:hover {
    border-bottom: 40px solid #f0975c;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    transition: all 0.3s;    
}

.add2cart-block p {
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 23px;
}

.add2cart-row1 {
    margin-top: -66px;    
}

.add2cart-row2 {
    margin-top: -50px;    
}

.column1 .row-wrap .add2cart-block {
    left: 38.23333333333333%;
}

.column2 .row-wrap .add2cart-block {
    left: 26%;
}

.column3 .row-wrap .add2cart-block {
    left: 15.61111111111111%
}

.column4 .row-wrap .add2cart-block {
    left: 3.77777777777778%;
}

.test-wrap {
    position: relative;
    height: inherit;
}

.row-wrap {
    position: relative;
}

.korting-bol {
    position: absolute;
    text-align: center;
    
    /* fallback */
    width: 19.93%;
    height: 17.24%;
    
    /* responsive */
    max-width: 61px;
    max-height: 61px;    
    width: 3.4vw; /* TESTJE */
    height: 3.4vw; /* TESTJE */
    z-index: 2;
    
    background-color: #feab12;
    border-radius: 50%;    
}

.column1 .row-wrap .korting-bol1 {
    left: 27.77%;
    top: 9.56%;    
}

.column1 .row-wrap .korting-bol2 {
    left: 27.77%;
    top: 3.56%;
}

.column4 .row-wrap .korting-bol1 {
    left: -5%;
    top: 9.56%;    
}

.column4 .row-wrap .korting-bol2 {
    left: -5%;
    top: 3.56%;    
}

.korting-tag {
    height: inherit;
    line-height: 2.3vw;
    display: inline-block;
    padding-top: 17%;
    padding-left: 10%;    
}

.percentnr {
    font-size: 1.6vw;
    color: #fff;
    font-family: sans-serif;
    height: inherit;
    float: left;
    letter-spacing: -1px;    
}

.percent {
    font-size: 0.8vw;
    color: #fff;
    font-family: sans-serif;
    height: inherit;
    float: left;
}

.temp-class {
    position: absolute; /* TEMP */
}

.sc-foto {
    position: relative;
    height: inherit;
}

.sc-foto img {
    display: block;  /* img is standaard display inline, omzet in block dient om dat 5px lijntje onderaan weg te prutsen */    
    max-width:280px; /* ipv 350 */
    width: 100%;
}

.sc-foto figure {
    position: absolute;

}

.sc-foto .trapezium {
    position: absolute;
    top: 298px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    border-bottom: 50px solid #000000;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0px;
}

.sc-foto .trapeziumtest {
    position: absolute;
    top: 83%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    border-bottom: 50px solid #000000;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0px;
}

.col1 {
    height: 350px;    
}

.col2 {
    height: 350px;
}

.col3 {
    height: 350px;
}

.col4 {
    height: 350px;
}

.custsays-col1 figure {
    padding-left: 20%;
    padding-right: 9.27%;
    padding-top: 34px;
}

.custsays-col1 figure img {
    max-width: 254px;
    width: 100%;
    position: static;
    transform: translate(0);    
}

.custsays-col4 figure {
    padding-left: 8.27%;
    padding-right: 21.11%;
    padding-top: 34px;
}

.custsays-col4 figure img {
    max-width: 254px;
    width: 100%;
    position: static;
    transform: translate(0);
}

.custsays-col3 {
    text-align: right;
}

.custsays-col2, .custsays-col3 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;    
    color: #ffffff;
}

.custsays-col3 .cs1, .custsays-col2 .cs1 {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;    
    color: #000000;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 25px;
}

.custsays-col2 .cs2, .custsays-col3 .cs2 {
    color: #7f7e7e;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.custsays-col2 .text-vertical-center, .custsays-col3 .text-vertical-center {
    max-width: 360px;
    width: 100%;
    padding-left: 25px;
}

.custsays-col2 .text-vertical-center {
    padding-right: 25px;
    padding-left: 0px;
}

.shops {
    color: #ffffff;
}

.information {
        color: #ffffff;
}

.shops-container, .information-container, .customerservice-container, .stayconnected-container {
    top: 0;
    transform: translate(0);
    left: 0;
    padding-top: 70px;
}

.shops-container {
    padding-left: 33.75%;    
}

.information-container {
    padding-left: 38.75%;
}

.customerservice-container {
    padding-left: 37.08%;
}

.stayconnected-container {
    padding-left: 24%;
    margin-right: 0px;
    width: 100%; 
    /* margin-left: 10%; */
}

.customerservice {
        color: #ffffff;
}

.stayconnected {
        color: #ffffff;
}

.bottom-bar-heads {
    top:0 ;
    left:0;
    transform: translate(0);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;    
    font-size: 12px;
    padding-bottom: 55px;    
}

.bottom-bar-heads span {
    font-family: 'Libre Baskerville', serif;    
    font-style: italic;
}

.subscribe {
    padding-top: 50px;
    padding-bottom: 56px;
    word-spacing: 5px;            
}

.bottom-bar-lists {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.bottom-bar-lists li {
    padding-bottom: 19px;    
}

.bottom-bar-lists li a {
    text-decoration: none;
    color: #737373;    
}

.bottom-bar-lists li a:hover {
    text-decoration: none;
    color: #d9bf8f;    
}

.social-container-bottom {
    position: static;
    height: 50px;
}

.social-container-bottom figure {
    position: static;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 3%;
}

.social-container-bottom figure img {
    position: static;
    transform: translate(0);
    margin: 0;    
}

#facebook2 {
    margin-left: 2px;
}

.footer-line {
    position: absolute;
    margin-left: 5%;
    width: 89.58%;
    border-color: #363636;
    border-style: solid;
    border-width: thin;
}

.copyright-container {
    padding-top: 32px;
}

.copyright-inner-container {
    margin-left: 20.28%;
    height: inherit;
}

.copyright-container p {
    color: #363636;
    font-size: 9px;
    font-family: sans-serif;
    padding-bottom: 9px;
    display: block;
}

.copyright-container figure, .copyright-container figure img {
    position: static;
    margin: 0;
    transform: translate(0);
}

.copyright-container figure {
    float: left;
    width: auto;
    height: auto;
    padding-right: 22px;
    padding-top: 38px;
}

.copyright-container figure img {
    transform: translate(0,-50%);
    display: block;
}

.email-form {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #323030;
    width: 360px;
    height: 40px;
}

.email {
    width: 247px;
    height: 33px;
    background-color: #141414;
    border: 0;
    color: #fff;
    font-size: 12px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #6a6a6a;  /* Darken placeholder font inside input field */
    padding-left: 20px;
}

.submit {
    width: 101px;
    height: 33px;
    background-color: #323030;
    color: #ffffff;
    border: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.handpicked-col1-vierkanten {
    position: absolute;
    padding-left: 14.79%;
    padding-right: 1.67%;    
    width: 399px;
    height: 814px;    
}

.handpicked-col3-vierkanten {
    position: absolute;
    padding-left: 1.458%;
    padding-right: 15%;
    width: 399px;
    height: 814px;    
}

.handpicked-col1-vierkanten .handpicked-vierkant-top {
    transform: translate(7%,8%);
}

.handpicked-col1-vierkanten .handpicked-vierkant-bottom {
    transform: translate(7%,19%);
}

.handpicked-col2-vierkanten {
    position: absolute;
    padding-left: 1.46%;
    padding-right: 1.875%;
}

.handpicked-vierkant-midden {
    max-width: 411px;
    max-height: 765px;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    width: 28.542vw;
    height: 53.125vw;
    margin: 6.33%;
}

.handpicked-vierkant-top, .handpicked-vierkant-bottom {
    max-width: 353px;
    max-height: 341px;
    border-style: solid;
    border-color: white;
    width: 24vw;
    height: 23vw;
    z-index: 1;    
    border-radius: 3px;    
}

.handpicked-col3-vierkanten .handpicked-vierkant-top {

    /* margin: 6.388888888888889%; */
    transform: translate(7%,8%);

}

.handpicked-col3-vierkanten .handpicked-vierkant-bottom {
    /* margin: 6.388888888888889%; */
    transform: translate(7%,19%);
}

.handpicked-vierkant-spacer {
    margin-top: 6.388888888888889%;
    height: 15px;
    width: inherit;
    /* background-color: #737373; */
}

.handpicked-vierkant-top:hover, .handpicked-vierkant-bottom:hover, .handpicked-vierkant-midden:hover {
    border-style: none;
    background-color: black;
    background-color: rgba(0, 0, 0, .25);
}

.handpicked-content {
    display: none;
}

.handpicked-vierkant-top:hover .handpicked-content, .handpicked-vierkant-bottom:hover .handpicked-content, .handpicked-vierkant-midden { 
    display: block;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {

    .col-mb-1 {width: 8.33%;}
    .col-mb-2 {width: 16.66%;}
    .col-mb-3 {width: 25%;}
    .col-mb-4 {width: 33.33%;}
    .col-mb-5 {width: 41.66%;}
    .col-mb-6 {width: 50%;}
    .col-mb-7 {width: 58.33%;}
    .col-mb-8 {width: 66.66%;}
    .col-mb-9 {width: 75%;}
    .col-mb-10 {width: 83.33%;}
    .col-mb-11 {width: 91.66%;}
    .col-mb-12 {width: 100%;}

    #hamburger {
        border: 1px solid #5094f2;
        border-radius: 3px 3px 3px 3px;
        cursor: pointer;
        display: block;
        height: 45px;
        padding: 4px 0px 0px 9px;
        position: fixed;
        top:22.5px;
        width: 60px;
        background: #d9bf8f;
        z-index: 1;
        left: 22.5px;
    }
    /*
    The white stripes in the hamburger button
    */
    #hamburger div {
        background-color: #fff;
        border: 3px solid #eee;
        height: 3px;
        margin-top: 4px;
        width: 80%;
    }
    
    
    .hamburgermenu-content {
    opacity:0;
    /* doorzichtig maken zodat ze niet te zien is, displey:none kan je niet altijd gebruiken want nav element zal weg zijn! */
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    overflow-x:hidden;/* scroll bars verbergen */
    overflow-y:auto;
    background: #3e3c3d;
    background: linear-gradient(to bottom, #3e3c3d 0%, #2d2c2d 100%);
    }

    .hamburgermenu-content ul {
        list-style: none;
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .hamburgermenu-content li {
        position: relative;
        font-size: 1em;
        font-weight: bold;
        border-bottom: 1px solid #222222;
        border-top: 1px solid #444444;
        padding: 15px;
    }

    .hamburgermenu-content li a {
        color: #fff;
        text-decoration: none;
    }
    

    
    #call {
        float: left;
        padding-left: 35%;
    }
    
    .telephone figure img {
        left: 30%;
    }
    
    /** verbergen van het hoofdmenu desktop in mobiele versie**/
    nav {
        opacity: 0;
        height:0px;
    }
    
    .invisible-mb {
        display: none;   /* Van zodra die kleiner wordt dan een bepaalde breedte, wordt de pijl uitgeschakeld */
    }

    /* Different height definities voor outer containers in MOBIEL: */
    .body-bar {
        height: 300px;
    }
    
    .body-bar2 {
        /* height: 824px;      /* Hoogte blok, probleem is dat de titels eronder dan niet passen! */
        max-height: 4200px;   /* 3 x normale hoogte in DeskTop */
        height: 500vw;
    }

    .shops, .information, .customerservice, .stayconnected {
            height: 447px;
    }
    
    .top-bar3 {
        height: 58.1vw;
    }
    
    #slideshow-nav {
        top: 52vw;
    }

    .bottom-bar {
        height: 1300px;
    }
    

    .summer-collection-row1 {
        height: 2848px;
        background-color: cadetblue; /* TEMP */
    }    
    
    .summer-collection-row {
       height: 712px;
    }
    
    .col1 {
        /* padding-left: 17.7%; */
        height: 350px;
        left: 50%;        
    }
    
    .sc-foto {
        margin-left: 4.17%;
    }
    
    .sc-foto figure {
        left: 50%;
        transform: translate(-50%,0);
    }
    
    .sc-foto .korting-bol {
        left: 30%;
    }

    .col2 {
        /* padding-left: 9.58%; */
        height: 350px;
    }

    .col3 {
        /* padding-left: 0.83%; */
        height: 350px;
    }

    .col4 {
        /* padding-left: 17.29%; */
        height: 350px;
    }    
    
    .ourbrand {
        height: 450px;
    }
    
    .ourbrand-content {
        transform: translate(-50%, -50%);                
    }
    
    
    .logo figure {
        padding-top: 30px;
    }

    .logo figure img {
        width: 50%;
        padding-left: 15.7%;
    }
    
    .promo-bar-left {
        height: 100px;
    }
    
    .promo-bar-middle {
        height: 100px;
    }
    
    .promo-bar-right {
        height: 100px;
    }
    
    .body-bar-arrow-top {
        top: 0px;
    }

    .body-bar-arrow-bottom {
        top: 48px;
    }
    
    .customer-says {
        height: 600px;
        background-color: #d9bf8f;        
    }
    
    .custsays-col1, .custsays-col2, .custsays-col3, .custsays-col4 {
        height: 300px;
    }
    
    .new-summercollection-kader {
        /* height: 2860px; */
       height: 766vw;  /* Interessant experiment die goed blijkt te werken bij dynamisch schalen :) */
       max-height: 5855px;
    }

    .new-summercollection-outer-container {
        /* height: 2930px; */
        height: 775vw;
        max-height: 5900px;
    }
    
    .new-summercollection-col1, .new-summercollection-col2, .new-summercollection-col3, .new-summercollection-col4 {
        /* height: 720px; */
        height: 192vw;
    } 
    
    .new-summercollection-col1 figure, .new-summercollection-col2 figure, .new-summercollection-col3 figure, .new-summercollection-col4 figure {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    
    .column2 .row-wrap .add2cart-block, .column1 .row-wrap .add2cart-block, .column3 .row-wrap .add2cart-block, .column4 .row-wrap .add2cart-block {
        left: 0;
    }
    
    #top-part-left-block {
        width: 100%;
        margin-left: 0;    
        border-bottom: 50px solid #d9bf8f;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;        
    }
    
    #bottom-part-left-block {
        width: 100%;
        margin-left: 0;
        border-top: 50px solid #d9bf8f;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;        
    }
    
    #top-part-right-block {
        position: absolute;
        width: 100%;
        border-bottom: 50px solid #d9bf8f;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        margin-left: 0;
    }

    #bottom-part-right-block {
        position: absolute;
        width: 100%;
        border-top: 50px solid #d9bf8f;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        margin-left: 0;
    }
    
    #top-part-middle-block {
        position: absolute;
        width: 100%;    
        border-top: 50px solid #000000;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        margin-left: 0;

    }

    #bottom-part-middle-block {
        position: absolute;
        width: 100%;
        border-bottom: 50px solid #000000;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        margin-left: 0;    
    }

    .handpicked-col1, .handpicked-col3 {
        max-height: 1330px;
        height: 173.18vw;
    }          
    
    .handpicked-col2 {
        max-height: 1640px;
        height: 152.04vw;
    }
    
    .handpicked-col1 figure, .handpicked-col2 figure, .handpicked-col3 figure {
        width: auto;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }
    
    .handpicked-col1 figure img, .handpicked-col2 figure img, .handpicked-col3 figure img {
        margin: 0 auto;
        max-width: 768px;
        padding-left: 8%;
        padding-right: 8%;        
    }
    
    .handpicked-col2 figure {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;        
    }    

    .handpicked-col1-vierkanten {
        padding-left: 8%;
        padding-right: 8%;
        width: inherit;
    }

    .handpicked-vierkant-top, .handpicked-vierkant-bottom {
        max-width: 540px;
        max-height: 540px;
        width: 68.52vw;
        height: 68.52vw;
        z-index: 1;        
        margin: 0 auto;        
    }
    
    .handpicked-col1-vierkanten .handpicked-vierkant-top {
        transform: translate(0,9%);
    }
    
    .handpicked-col1-vierkanten .handpicked-vierkant-bottom {
        transform: translate(0,32%);
    }
    
    .handpicked-col3-vierkanten .handpicked-vierkant-top {
        transform: translate(0,9%);
    }
    
    .handpicked-col3-vierkanten .handpicked-vierkant-bottom {
        transform: translate(0,32%);
    }    
    
    .handpicked-vierkant-spacer { /* spacer apparently not required in mobile */
        margin-top: 0;
        height: 0;
        width: inherit;   
    }
    
    .handpicked-col2-vierkanten {
        padding-left: 8%;
        padding-right: 8%;
        width: inherit;
    }    
    
    .handpicked-col3-vierkanten {
        padding-left: 8%;
        padding-right: 8%;
        width: inherit;
    }    
    
    .handpicked-vierkant-midden {
        max-width: 540px;
        max-height: 1640px;
        width: 68.52vw;
        height: 132vw;
        z-index: 1;
        transform: translate(0,4.5%);
        margin: 0 auto;        
    }
    
    .ourbrand-content {
        transform: translate(0);
    }
    
    .ourbrand-content figure img {
        transform: translate(0);
    }
    
    .ourbrand1 figure img, .ourbrand2 figure img, .ourbrand3 figure img, .ourbrand4 figure img, .ourbrand5 figure img, .ourbrand6 figure img {
        position: absolute;
    }
    
    .ourbrand-content figure {
        margin: 0 auto;
        padding: 0;
        
    }
    
    .ourbrand1 #first, .ourbrand2 figure, .ourbrand3 figure, .ourbrand4 figure, .ourbrand5 figure, .ourbrand6 figure {
        margin: 0 auto;
        padding: 0;
        width: inherit;
        height: auto;
    }
    
    .ourbrand1, .ourbrand2, .ourbrand3, .ourbrand4, .ourbrand5, .ourbrand6 {
        height: 150px;
    }
    
    .stayconnected-container {
        padding-left:0;
    }
    
    .row-wrap figure img {
        margin: 0 auto;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .column1 .row-wrap .add2cart-block, .column2 .row-wrap .add2cart-block, .column3 .row-wrap .add2cart-block, .column4 .row-wrap .add2cart-block {
        left: 0;
        max-width: 200px;
        width: 100%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%);
    }
    
    .new-summercollection-col1 figure img, .new-summercollection-col2 figure img, .new-summercollection-col3 figure img, .new-summercollection-col4 figure img {
        max-width: 750px;
        width: 100%;
        max-height: 713px;
        height: 100%;
    }
    
    .korting-bol {
        position: absolute;
        max-width: 120px;
        max-height: 120px;        
        width: 15vw; /* TESTJE */
        height: 15vw; /* TESTJE */
    }
    
    .column1 .row-wrap .korting-bol1, .column1 .row-wrap .korting-bol2, .column4 .row-wrap .korting-bol2, .column4 .row-wrap .korting-bol1 {
        left: 17.77%;
    }

    .percent {
        font-size: 2.8vw;
    }

    .percentnr {
        font-size: 6.6vw;
    }

    .korting-tag {
        padding-top: 40%;
    }
    
    .promo-bar-left figure img, .promo-bar-middle figure img, .promo-bar-right figure img {
        left: 10%;
    }
    
    .promo-bar-left .promo-block-content, .promo-bar-middle .promo-block-content, .promo-bar-right .promo-block-content {
        left: 20%;
        transform: translate(0,-50%);
    }
    
    .shopnowbutton {
        font-size: 2.2vmin;
        width: 109px;
        height: 42px;        
    }
    
    .handpickshopbutton {
        top: 35.96%;
        font-size: 15px;
        transform: translate(-50%,0);
    } 
    
    .logo figure img {
        left: 50%;
        padding-left: 0;
        top: 50%;
        max-width: 100px;
        width: 80%;
    }
    
    .social-container {
        width: 70%;
        left: 10%;
    }
    
    .stayconnected-container {
        margin-left: 2%;
    }    
}    

/* For desktop and small devices: */
@media only screen and (min-width: 769px) {

    .col-dt-1 {width: 8.33%;}
    .col-dt-2 {width: 16.66%;}
    .col-dt-3 {width: 25%;}
    .col-dt-4 {width: 33.33%;}
    .col-dt-5 {width: 41.66%;}
    .col-dt-6 {width: 50%; }
    .col-dt-7 {width: 58.33%;}
    .col-dt-8 {width: 66.66%;}
    .col-dt-9 {width: 75%;}
    .col-dt-10 {width: 83.33%;}
    .col-dt-11 {width: 91.66%;}
    .col-dt-12 {width: 100%;}
    
   .body-bar2, .handpicked-col1, .handpicked-col2, .handpicked-col3 {
        
        /* fallback */
        height: 560px;
        
        /* responsive */
        height: 60vw;
        max-height: 884px;        
    }
    
    .invisible-dt {
        display: none;   /* Invisible items for desktom -> gebruikt voor hamburger */
    }    
    
    .handpicked-vierkant-spacer {
        height: 10px;
    }
    
    .top-bar3 {
        /* height: auto;  /* Werkte goed voor statisch.  Ipv vaste hoogte blok, auto zetten waardoor deze DIV
        mee zal herschalen met de viewport bij responsieve IMG */
        /* fallback */
        height: 692px;

        /* responsive */
        max-height: 692px;
        height: 48.12vw;

    }
    
    #slideshow-nav {
        /* fallback */
        top: 640px;
        
        /* responsive */
        top: 44.4vw
    }
    
    .shopnowbutton {
        top: 32.78vw;        
    }
    
    .handpickshopbutton {
        top: 17.7vw;
    }
    
    .promo-block-content p span {
        font-size: 2vw;
        font-weight: 600;
    }
    
    .promo-block-content p {
        font-size: 1.1vw;
    }
    
    .promo-bar-left .promo-block-content {
        left: 60.5%;
    }

    .promo-bar-right .promo-block-content {
        left: 48.5%;
    }    

    .promo-bar-middle .promo-block-content {
        width: 130px;
        left: 64%;
    }
    
    .promo-bar-middle figure img {
        left: 28%;
    }
    
    .add2cart-block p {
        font-size: 0.8vw;
    }    
}

/* For medium devices: */
@media only screen and (min-width: 992px) {
    .social-container {
        left: 33.33%;
    }
    
    .handpickshopbutton {
        top: 18vw;
    }    
    
    .handpicked-vierkant-spacer {
        height: 14px;
    } 
    
    .promo-bar-middle .promo-block-content {
        left: 54.54%;
        width: auto;
    }

    .promo-bar-middle figure img {
        left: 20.83%;
    }    

    .add2cart-block p {
        font-size: 0.8vw;
    }
}

/* For Large devices: */
@media only screen and (min-width: 1200px) {
    .social-container {
        left: 43.33%;
    }
 
    .promo-block-content p span {
        font-size: 2vw;
        font-weight: 600;
    }
    
    .promo-block-content p {
        font-size: 1.1vw;
    }
    
    .handpickshopbutton {
        top: 18vw;
    }
    
    .handpicked-vierkant-spacer {
        height: 18px;
    }
    
    .promo-block-content p span {
        font-size: 26px;
        font-weight: 600;
    }
    
    .promo-block-content p {
        font-size: 14px;
    }
    
    .promo-bar-left .promo-block-content {
        left: 55.5%;
    }

    .promo-bar-right .promo-block-content {
        left: 42.5%;
    }
    
    .promo-bar-middle .promo-block-content {
        left: 55.54%;
        width: auto;
    }
    
    .add2cart-block p {
        font-size: 0.9vw;
    }
}

@media only screen and (min-width: 1440px) {
    #slideshow-nav {
        top: 640px;        
    }
    
    .shopnowbutton {
        top: 472px;
    }
    
    .handpickshopbutton {
        top: 265px;
    }
    
    .promo-bar-middle .promo-block-content {
        left: 51.54%;
        width: auto;
    }
    
    .add2cart-block p {
        font-size: 0.64vw;
    }
}

/* 4K Monitor @home (larger dan 1920px otherwise gave issues...) */
@media only screen and (min-width: 1921px) {
    .percent {
        font-size: 11px;
    }

    .percentnr {
        font-size: 26px;
    }
    
    .korting-tag {
        padding-top: 3%;
        line-height: 61px;
    }
    
    .handpickshopbutton {
        top: 265px;
    }
    
    .add2cart-block p {
        font-size: 12px;
    }
}